<div style=" height: 80vh" class="parent">
    <div class="child ">
        <div class="d-flex justify-content-center">
            <div class="input-group" id="input-buscar">
                <input type="text" #buscar class="form-control" placeholder="Busca tu artista favorito..." />
                <button class="btn btn-outline-secondary btn-dark text-white" (click)="getMusic(buscar)" type="button">
            Buscar
          </button>
            </div>
        </div>

        <div>
            <div class="card text-center" style="width: 18rem; margin: auto;  margin-bottom: 50px;" *ngIf="infoArtist">
                <img src="{{busqueda[0].artist.picture_big}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{busqueda[0].artist.name}}</p>
                </div>
            </div>
            <div style="width: 80%; text-align: center; margin: auto">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col" *ngFor="let items of album">

                        <div class="card h-100" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getTrack(items.id)">
                            <img src="{{ items.cover_big }}" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">{{ items.title }}</h5>
                                <!-- <audio src="{{ items.preview }}" controls="controls" type="audio/mpeg" preload="preload"></audio> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">INGRESA TU ARTISTA FAVORITO</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" *ngFor="let item of track">
                            <h1>
                                <audio controls>
                    <source src="{{ item.preview }}">
                  </audio>
                            </h1>
                            <div class="card-body">
                                <p class="card-text">{{ item.title }}</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>